$main-color: #81B29A;
$secondary-color: #F4F1DE ;
$third-color: #211C19;



$primary-font: "Rubik-Regular";
$heading-font: "Rubik-Bold";
$secondary-heading-font: "Rubik-Light";

// Mixins for responsiveness
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
