@use "./variables" as *;
@use "./fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: $background-color;
    color: $floral-white;
    font-family: $primary-font;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $carbon-black;
}

::-webkit-scrollbar-thumb {
    background: $dust-grey;
    border-radius: 5px;

    &:hover {
        background: $royal-blue;
    }
}

h1 {
    font-family: $heading-font;
}

h2 {
    font-family: $secondary-heading-font;
}

h3,
h4,
h5,
h6 {
    color: $floral-white;
}
