@use "../../styles/variables" as *;


.project-section {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    margin-top: 6rem;
    position: relative;

    .project-content {
        width: 100%;
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1.5fr 1fr; 
        gap: 2rem;
        align-items: center;

        @media (max-width: 1025px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.5rem;
        }

        .project-title {
            font-family: $secondary-heading-font;
            font-size: 4rem;
            line-height: 0.9;
            color: $third-color;
            word-wrap: break-word;
            z-index: 10;

            position: absolute;
            left: 4%;
            top: 30%;
            transform: translate(-50%, -50%); 
            width: 50%; 
            text-align: start;

            @media (max-width: 1025px) {
                font-size: 2.5rem;
                text-align: center;
                position: static;
                transform: none;
                width: 100%;
                order: 2;
            }
        }

        .project-image-container {
            width: 100%;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @media (max-width: 1025px) {
                height: 40vh;
                aspect-ratio: 1 / 1;
                order: 1;
            }

            .image-placeholder {
                width: 100%;
                height: 100%;
                background-color: $third-color;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $secondary-color;
                font-size: 1.5rem;
                object-fit: cover;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .project-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            height: 100%;
            padding-bottom: 2rem;

            @media (max-width: 1025px) {
                align-items: center;
                text-align: center;
                order: 3;
            }

            .arrow-icon {
                width: 50px;
                height: 50px;
                margin-bottom: 1rem;

                @media (max-width: 1025px) {
                    display: none;
                }
            }

            .subtitle {
                font-family: $primary-font;
                font-size: 1.5rem;
                font-weight: 500;
                color: $main-color;
                margin-bottom: 1rem;
            }

            .description {
                font-family: $primary-font;
                font-size: 1rem;
                line-height: 1.5;
                color: $third-color;
                max-width: 300px;
            }

            .meta {
                margin-top: 2rem;
                font-size: 0.9rem;
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-top: 1px solid $main-color;
                padding-top: 0.5rem;
                color: $third-color;

                @media (max-width: 1025px) {
                    justify-content: center;
                }
            }
        }
    }
}

